@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SportingGrotesque;
  src: url(../font/SportingGrotesque-Regular.otf);
}
body {
  font-family: "SportingGrotesque";
}
