@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@font-face {
  font-family: SportingGrotesque;
  src: url(../font/SportingGrotesque-Regular.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SportingGrotesque";
}
body {
  font-family: "Poppins", sans-serif;
}
